<!DOCTYPE html>
<html>
<head>
{{> headcdn}}
</head>
<body>
    {{> sidebar}}

    <div id="main">
{{> role}}
        <div id="main-content">
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Corporate Customer</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="list-group list-group-horizontal-sm mb-1 text-center" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="account-list"
                                    data-bs-toggle="list" href="#account" role="tab"><i class="bi bi-person"></i>
                                    Account</a>
                                <a class="list-group-item list-group-item-action " id="address-list"
                                    data-bs-toggle="list" href="#address" role="tab"><i class="bi bi-geo-alt"></i>
                                    Address</a>
                                <a class="list-group-item list-group-item-action " id="network-list"
                                    data-bs-toggle="list" href="#network" role="tab"><i class="bi bi-hdd-network"></i>
                                    Network</a>
                                <a class="list-group-item list-group-item-action" id="plan-list" data-bs-toggle="list"
                                    href="#plan" role="tab"><i class="bi bi-journal"></i> Plan</a>
                                <a class="list-group-item list-group-item-action" id="upload-list" data-bs-toggle="list"
                                    href="#upload" role="tab"><i class="bi bi-upload"></i> Upload</a>
                            </div>
                            <form name="corpcust" method="post">
                            <div class="tab-content text-justify">
                                <div class="tab-pane fade show active" id="account" role="tabpanel"
                                    aria-labelledby="account-list">
                                 <p class="text-center font-bold mt-4">Customer Information</p>
                                    <p style="color: red;">* Required Fields</p>
                                    <div class="form-group">
                                        <label for="">Name of Organization </label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="noa" name="noa" placeholder="Company name"
                                            class="form-control" required>
                                        <span id="noaerr" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Company Type </label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <select id="ctype" name="comptype" class="form-control" required>
                                            <option value="" selected disabled>--Select--</option>
                                            <option value="Private limited">Private limited</option>
                                            <option value="Limited(Govt)">Limited(Govt)</option>
                                            <option value="Limited(Non Govt)">Limited(Non Govt)</option>
                                            <option value="Proprietorship">Proprietorship</option>
                                            <option value="Limited Liability Parterneship (LLP)">Limited Liability Parterneship (LLP)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Organization ID</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <select id="orgid" name="orgid" class="form-control" onchange=inputData(this.value) required>
                                            <option value="" selected disabled>--Select--</option>
                                            <option value="GSTIN">GSTIN</option>
                                            <option value="TIN No">TIN No</option>
                                            <option value="CIN No">CIN No</option>
                                            <option value="Registration No">Registration No</option>
                                        </select>
                                        <span id="orgerr" style="color:red"></span>
                                    </div>
                                    <div class="form-group" id="docno1" style="display: none;">
                                        <label id="docno2"></label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="docno" name="docno" class="form-control" required>
                                        <span id="docerr" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Website If Any</label>
                                        <input type="text" id="domain" name="domain"
                                            placeholder="Website of organization" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="email" id="cemail" name="cemail"
                                            placeholder="Email of organization" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Contact No</label>
                                        <input type="number" id="contactno" name="contactno"
                                            placeholder="Contact Number of organization" class="form-control">
                                    </div>
                                 <p class="text-center font-bold mt-4">
                                    Authorized Signatory Information
                                    </p>
                                    <div class="form-group">
                                        <label for="username">Full name</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" name="fullname" id="fullname" placeholder="Full name"
                                            class="form-control" required>
                                        <span id="fname" style="color:red"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Designation</label>
                                                <input type="text" name="designation" id="designation"
                                                    placeholder="Designation" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Department</label>
                                                <input type="text" name="department" id="department"
                                                    placeholder="Department" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Email</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="email" name="email" id="email" placeholder="Email"
                                                    class="form-control" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">DOB</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="date" id="dob" name="dob" placeholder="Date of Birth"
                                            class="form-control" required>
                                        <span id="doberr" style="color:red"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Mobile No</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="number" placeholder="Mobile No" id="mobileno" name="mobileno"
                                            onKeyPress="if(this.value.length==10) return false;" autocomplete="off"
                                            class="form-control" required>
                                        <span id="merr" style="color:red"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="document">Customer Photo</label>
                                        <span style="color:red"><strong>*</strong></span>

                                        <input type="file" name="cuploads" class="form-control" id="cuploads" onchange=ValidateSingleInput(this) required>
                                        <span id="custerr" style="color:red"></span>
                                        <p style="color: red;">Note : Please upload pdf/ jpg/ png/ jpeg for view purpose.</p>
                                    </div>

                                    <div class="row mt-3 mb-3">
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-danger previous"
                                               type="button" id="tab1prev" style="display: none;">Previous</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-success next" id="tab1next"
                                                type="button" onclick=Tab1()>Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-list">
                                 <p class="text-center font-bold mt-4">Permanent Address</p>
                                 <p style="color: red;">* Required Fields</p>
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="paddress" name="paddress" placeholder="Address"
                                            class="form-control" required>
                                        <span id="adderr" style="color:red"></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Pincode</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="number" id="ppincode" name="ppincode"
                                                    onKeyPress="if(this.value.length==6) return false;" min="1"
                                                    placeholder="Pincode" class="form-control" required>
                                                <span id="pinerr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">District</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="district" id="district" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="diserr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">State</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="state" id="state" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="stateerr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Country</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="country" id="country" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="counerr" style="color:red"></span>
                                            </div>
                                        </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <input type="checkbox" id="copyall" onclick=copyAll()> <label>
                                            <p class="font-bold">Click Here ! If all Address
                                                Information are Same.</p>
                                        </label>
                                    </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <input type="checkbox" id="copycb" onclick=copyCb()> <label>
                                            <p class="font-bold">Copy Company Registered Address
                                                To Company Billing Address </p>
                                        </label>
                                    </div>
                                    </div>
                                    </div>
                                    
                                    <!---Company Billing Address-->
                                 <p class="text-center font-bold mt-4">
                                        Company Billing Address
                                    </p>
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="baddress" name="baddress" placeholder="Address"
                                            class="form-control" required>
                                        <span id="baerr" style="color:red"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Pincode</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="number" id="bpincode" name="bpincode" min="1"
                                                    onKeyPress="if(this.value.length==6) return false;"
                                                    placeholder="Pincode" class="form-control" required>
                                                <span id="bperr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">District</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="bdistrict" id="bdistrict" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="bderr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">State</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="bstate" id="bstate" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="bserr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Country</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="bcountry" id="bcountry" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="bcerr" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="checkbox" id="copyi" onclick=copyI()> <label>
                                            <p class="font-bold"> Copy Company Billing Address To Company Installation
                                                Address</p>
                                        </label>
                                    </div>
                                    <!---Installation Address-->
                                 <p class="text-center font-bold mt-4">
                                        Installation Address
                                    </p>
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="iaddress" name="iaddress" placeholder="Address"
                                            class="form-control" required>
                                        <span id="iaerr" style="color:red"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Pincode</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="number" id="ipincode" name="ipincode" min="1"
                                                    onKeyPress="if(this.value.length==6) return false;"
                                                    placeholder="Pincode" class="form-control" required>
                                                <span id="iperr" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">District</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="idistrict" id="idistrict" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="iderr" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">State</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="istate" id="istate" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="iserr" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Country</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="icountry" id="icountry" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="icerr" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <input type="checkbox" id="copyap" onclick=copyAp()> <Label>
                                            <p class="font-bold"> Copy Installation Address To
                                                Authorised Person Address</p>
                                        </Label>


                                    </div>
                                    <!--- Authorised Person -->
                                 <p class="text-center font-bold mt-4">
                                        Authorised Person Address
                                    </p>
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="apaddress" name="apaddress" placeholder="Address"
                                            class="form-control" required>
                                        <span id="apaerr" style="color:red"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Pincode</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="number" id="appincode" name="appincode" min="1"
                                                    onKeyPress="if(this.value.length==6) return false;"
                                                    placeholder="Pincode" class="form-control" required>
                                                <span id="apperr" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">District</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="apdistrict" id="apdistrict" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="apderr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">State</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="apstate" id="apstate" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="apserr" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Country</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" name="apcountry" id="apcountry" readonly
                                                    style="background-color: white;" class="form-control">
                                                <span id="apcerr" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <!---Billing Person Details-->
                                 <p class="text-center font-bold mt-4">
                                        Billing Person Details
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Account Person Name</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="text" id="bpname" name="bpname" placeholder="Name"
                                                    class="form-control" required>
                                                <span id="apname" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Email</label>
                                                <span style="color:red"><strong>*</strong></span>
                                                <input type="email" name="bpemail" id="bpemail" class="form-control" required>
                                                <span id="apemail" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Contact No</label>
                                            <span style="color:red"><strong>*</strong></span>
                                            <input type="number" name="bpcontact" id="bpcontact" class="form-control" onKeyPress="if(this.value.length==10) return false;" autocomplete="off" required>
                                            <span id="apcontact" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="row mt-3 mb-3">
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-danger previous"
                                               type="button" id="tab2prev" onclick=Tab2Prev()>Previous</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-success next" id="tab2next"
                                                type="button" onclick=Tab2()>Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-list">
                                 <p class="text-center font-bold mt-4">Assign Network Details</p>
                                 <p style="color: red;">* Required Fields</p>
                                    <div class="form-group">
                                        <label for="">Brand Name / Short Name</label>
                                        <input type="text" name="description" id="description"
                                            placeholder="Any recognisable name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Username</label> <span style="color:red"><strong>*</strong></span>
                                        <input type="text" id="uname" name="username" class="form-control"
                                            placeholder="User Name" autocomplete="off" maxlength="20" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Network Type </label>
                                        <select name="networktype" class="form-control" id="networktype">
                                            <option value="" selected disabled>-Select-</option>
                                            <option value="PPPOE" selected>PPPOE</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Pool Type </label>
                                        <select name="pooltype" class="form-control" id="selectBox"
                                            onchange="changeFunc();">
                                            <option value="" selected disabled>-Select-</option>
                                            <option value="Default" selected>Default Pool</option>
                                            <option value="Static">Static Pool</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label style="display: none" id="textboxes">Select Location</label>
                                        <select name="nas" class="form-control" style="display: none" id="textboxes1">
                                            <option value="" selected disabled>-Select-</option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label style="display: none" id="textboxes2">IP Pool</label>
                                        <select name="ippool" class="form-control" style="display: none"
                                            id="textboxes3">
                                            <option value="" selected disabled>-Select IP Pool-</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label style="display: none" id="textboxes4">Select Available IP </label>
                                        <select name="availableip" class="form-control" style="display: none"
                                            id="textboxes5">
                                            <option value="" selected disabled>-Select IP -</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label style="display: none" id="textboxes44">ALL IPs </label>
                                        <input type="checkbox" style="display: none" name="allip" id="textboxes45"
                                            class="textboxes45">
                                    </div>
                                    <div class="row mt-3 mb-3">
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-danger previous"
                                               type="button" id="tab3prev" onclick=Tab3Prev()>Previous</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-success next" id="tab3next"
                                                type="button" onclick=Tab3()>Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-list">
                                 <p class="text-center font-bold mt-4">Assign Plan Details</p>
                                 <p style="color: red;">* Required Fields</p>
                                    <div class="form-group">
                                        <label>Plans </label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <select name="planname" class="form-control" id="planname">
                                            <option value="" selected disabled>-Select-</option>
                                            <option value=""></option>
                                        </select>
                                        <span id="planerr" style="color:red"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="text" style="display: none;" id="nprice">Plan Price</label>
                                        <input type="text" class="form-control" id="newprice" name="newprice" value=""
                                            readonly style="display: none;">
                                    </div>
                                    <div class="form-group">
                                        <label for="text" style="display: none;" id="validity">Validity(In Days)</label>
                                        <input type="text" class="form-control" id="validity1" name="validity" value=""
                                            readonly style="display: none;">
                                    </div>
                                    {{!-- <div class="form-group">
                                        <label>Plan Price For Customer</label>
                                        <span style="color:red"><strong>*</strong></span>
                                        <input type="number" class="form-control" id="custprice" name="custprice"
                                            min="1">
                                        <span id="custplanerr" style="color:red"></span>
                                    </div> --}}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-danger previous"
                                               type="button" id="tab4prev" onclick=Tab4Prev()>Previous</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-success next" id="tab4next"
                                                type="button" onclick=Tab4()>Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-list">
                                 <p class="text-center font-bold mt-4">Upload Documents Here</p>
                                 <p style="color: red;">* Required Fields</p>
                                    <div class="form-group">
                                        <label for="document">Documents Type</label> <span style="color:red"><strong>*</strong></span>
                                        <select name="dtype" id="dtype" class="form-control" onchange="checkmode(this)">
                                            <option value="" selected disabled>-Select-</option>
                                            <option value="Aadhar Card">Aadhar Card</option>
                                            <option value="Voter Card">Voter Card</option>
                                            <option value="Insurance Paper">Insurance Paper</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="docid" style="display: none;">
                                        <label id="doc"></label>

                                        <input type="text" placeholder="ID number" id="idnumber" name="idnumber"
                                            class="form-control">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="document">Upload Documents</label>
                                                <input type="file" name="uploads" class="form-control" id="uploads" onchange=ValidateSingleInput(this) required>
                                                <p style="color: red;">Note : Please upload pdf/ jpg/ png/ jpeg for view purpose.</p>
                                            </div>
                                            <div class="form-group" id="docid" style="display: none;">
                                                <label id="doc"></label>
                                                <input type="text" placeholder="ID number" id="idnumber" name="idnumber"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group mt-4" id="addsign">
                                                <button class="btn btn-outline-primary"><i
                                                        class="bi bi-plus-circle-fill" style="cursor: pointer;"> Add
                                                        Document</i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Document Name</th>
                                                    <th>Document Type</th>
                                                    <th>Document Details</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tddata">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row mt-3 mb-3">
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-danger previous"
                                               type="button" id="tab5prev" onclick=Tab5Prev()>Previous</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-block btn-success next" id="submit" onclick=validateForm()>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div></form>
                            <div class="list-group list-group-horizontal-sm mb-1 text-center" role="tablist">
                                <a class="list-group-item list-group-item-action " id="account1-list"
                                    data-bs-toggle="list" href="#account" role="tab"><i class="bi bi-person"></i>
                                    Account</a>
                                <a class="list-group-item list-group-item-action " id="address1-list"
                                    data-bs-toggle="list" href="#address" role="tab"><i class="bi bi-geo-alt"></i>
                                    Address</a>
                                <a class="list-group-item list-group-item-action " id="network1-list"
                                    data-bs-toggle="list" href="#network" role="tab"><i class="bi bi-hdd-network"></i>
                                    Network</a>
                                <a class="list-group-item list-group-item-action" id="plan1-list" data-bs-toggle="list"
                                    href="#plan" role="tab"><i class="bi bi-journal"></i> Plan</a>
                                <a class="list-group-item list-group-item-action" id="upload1-list"
                                    data-bs-toggle="list" href="#upload" role="tab"><i class="bi bi-upload"></i>
                                    Upload</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{{> footer}}
    </div>
{{> cdnjs}}      
<script src="js/page/corporate.js"></script>
</body>

</html>