<!DOCTYPE html>
<html>

<head>
{{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">
            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">User Graph</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">  
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#usergraph"><i class="bi bi-graph-up-arrow"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
</div>
        {{> footer}}
    </div>
    <div class="modal fade text-left" id="usergraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        View User Graph
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="bar"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{{> cdnjs}}
    <script src="js/page/graph.js"></script>
</body>

</html>