<!DOCTYPE html>
<html>

<head>
    {{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">
        <ul role="tablist" class="nav bg-light-primary nav-pills rounded-pill nav-fill mb-2">
          <li class="nav-item">
            <a  href="/corcustomer" class="nav-link rounded-pill"><i class="bi bi-people-fill"></i>  Total Cor Customer</a>
          </li>
          
          <li class="nav-item">
            <a  href="/onlcorcust" class="nav-link rounded-pill"><i class="bi bi-toggle-on"></i>  Online Cor Customer</a>
          </li>
          <li class="nav-item">
            <a  href="/ofcorcust" class="nav-link rounded-pill font-bold" style="background-color: orange; color:white;"><i class="bi bi-toggle-off"></i>  Recently Cor Offline</a>
          </li>

          <li class="nav-item">
            <a  href="/suscorcust" class="nav-link rounded-pill"><i class="bi bi-person-x-fill"></i>  Suspended Cor Customer</a>
          </li>

           <li class="nav-item">
            <a  href="/selupop" class="nav-link rounded-pill" ><i class="bi bi-wallet2"></i>  Upcoming Cor Renewal</a>
          </li>

           <li class="nav-item">
            <a  href="/selpenop" class="nav-link rounded-pill" ><i class="bi bi-exclamation-octagon-fill"></i>  Pending\Exp Cor Renewal</a>
          </li>
          <li class="nav-item">
            <a  href="/actcorcust" class="nav-link rounded-pill" ><i class="bi bi-award-fill"></i>  Active Cor Customer</a></li>
        </ul>

            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">Recently Offline Corporate Customers</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Start Time</th>
                                            <th>Stop Time</th>
                                            <th>IP Address</th>
                                            <th>NAS IP</th>
                                            <th>Terminate Cause</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="/viewcustomer">Abhishek</a></td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Start Time</th>
                                            <th>Stop Time</th>
                                            <th>IP Address</th>
                                            <th>NAS IP</th>
                                            <th>Terminate Cause</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
{{> footer}}
    </div>
{{> cdnjs}}
<script src="js/pages/ofcorcust.js"></script>
</body>

</html>