<!DOCTYPE html>
<html>

<head>
{{> headcdn}}
</head>
<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">

            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">Concurrent Session</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Plan</th>
                                            <th>Location</th>
                                            <th>Start Time</th>
                                            <th>Framed IP</th>
                                            <th>NAS Port ID</th>
                                            <th>MAC Address</th>
                                            <th>Upload (MB)</th>
                                            <th>Download (MB)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="/viewcustomer">Abhishek</a></td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>sadas</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="" class="btn btn-danger">Disconnect</a></td>
                                            
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Plan</th>
                                            <th>Location</th>
                                            <th>Start Time</th>
                                            <th>Framed IP</th>
                                            <th>NAS Port ID</th>
                                            <th>MAC Address</th>
                                            <th>Upload (MB)</th>
                                            <th>Download (MB)</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
{{> footer}}
    </div>

{{> cdnjs}}
    <script src="js/pages/session.js"></script>


</body>

</html>