<!DOCTYPE html>
<html>

<head>
    {{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">
            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">View NAS</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>NAS IP</th>
                                            <th>Location</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="/viewnasdet">Abhishek</a></td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>NAS IP</th>
                                            <th>Location</th>
                                            <th>Type</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
       {{> footer}}
    </div>

{{> cdnjs}}
    <script src="js/pages/viewnas.js"></script>
</body>

</html>