<!DOCTYPE html>
<html>

<head>
    {{> headcdn}}
</head>

<body>
{{> sidebar}}

    <div id="main">
{{> role}}
        <div id="main-content">

            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">View Employee</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Username</th>
                                            <th>Status</th>
                                            <th>Role</th>
                                            <th>Mobile</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp;<a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editemp"> <i class="bi bi-pencil-fill"></i> </a> &nbsp; <a href="#"><i class="bi bi-trash-fill"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Username</th>
                                            <th>Status</th>
                                            <th>Role</th>
                                            <th>Mobile</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
        {{> footer}}
    </div>

        <div class="modal fade text-left" id="editemp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Edit Employee
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                        <label>Name </label>
                        <input type="text" placeholder="Name" class="form-control">
                    </div>
                    </div>
                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="type">Email </label>
                                        <input type="email" class="form-control" placeholder="Email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                            <div class="form-group">
                                        <label for="">Username</label>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Password</label>
                                        <input type="text" class="form-control" placeholder="Password" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Mobile No</label>
                                        <input type="tel" class="form-control" placeholder="9876543210" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" name="status" required="">
                                            <option value="Active">Active</option>
                                            <option value="Inactive" selected="">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select class="form-control" required="">
                                    <option value="Admin">Admin</option>
                                    <option value="Support">Support</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>

{{> cdnjs}}
    <script src="js/pages/viewemp.js"></script>
</body>

</html>