<!DOCTYPE html>
<html>

<head>
{{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">
            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">Manage LCO</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>Location</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td><a href="/managelco">abhishek@gmail.com</a></td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>ewfgsdfsd</td>
                                            
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>Location</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
        {{> footer}}
    </div>
{{> cdnjs}}
    <script src="js/pages/viewlco.js"></script>
</body>

</html>