<!DOCTYPE html>
<html>
<head>
    {{> headcdn}}
</head>
<body>
    {{> sidebar}}
    <div id="main">
        {{> role}}
        <div id="main-content">
            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">View Plan</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Plan Name</th>
                                            <th>Retailer Price</th>
                                            <th>MRP</th>
                                            <th>Status</th>
                                            <th>Validity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="/viewplandet">Abhishek</a></td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>abdsj</td>     
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
      {{> footer}}
    </div>
{{> cdnjs}}
    <script src="js/pages/viewplan.js"></script>
</body>

</html>