<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>weTrick | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/portal.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

</head>

<body style="background-color: #F2F7FF;">
    <div id="sidebar">
        <div class="sidebar-wrapper">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="/home" class="text-decoration-none">weTRICK</a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">

                    <li class="sidebar-item">
                        <a href="/home" class="sidebar-link">
                            <i class="bi bi-house-fill"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="/customer" class="sidebar-link">
                            <i class="bi bi-people-fill"></i>
                            <span>Customers</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/allcustomer">All Customers</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/indcustomer">View Individual Customers</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/corcustomer">View Corporate Customers</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-person-plus-fill"></i>
                            <span>Create Customers</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/individual">Individual Customer</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/corporate">Corporate Customer</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Quick Operation</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/changepassword">Change Password</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/changeplan">Change Plan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/changestatic">Change Static Ip</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/graph">View User Graph</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Operator</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/lco">New LCO/Operator</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/viewoperator">View Operator</a>
                            </li>
                            <li class="submenu-item">
                                <a href="form-element-radio.html">Operator Configuration</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-cash-stack"></i>
                            <span>Bulk Recharge</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/renewal">Upcoming Renewal</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/expired">Pending/Expired Renewal</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-layers-fill"></i>
                            <span>Plans</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/plan">Create Plan</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/planapp">Plan Approval</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/viewplan">View Plan</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-journal-album"></i>
                            <span>Pricebook</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="/price">Create Pricebook</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="/viewprice">View Pricebook</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="/session" class="sidebar-link">
                            <i class="bi bi-stopwatch-fill"></i>
                            <span>Concurrent Session</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="/viewc" class="sidebar-link">
                            <i class="bi bi-flag-fill"></i>
                            <span>Complaints</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="/viewnas" class="sidebar-link">
                            <i class="bi bi-cpu"></i>
                            <span>System</span>
                        </a>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-person-circle"></i>
                            <span>Employee</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/addemp">Add Employee</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/viewemp">View Employee</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="/reports" class="sidebar-link">
                            <i class="bi bi-file-text-fill"></i>
                            <span>Reports</span>
                        </a>
                    </li>

                    <li class="sidebar-item active">
                        <a href="/billzone" class="sidebar-link">
                            <i class="bi bi-receipt"></i>
                            <span>Billing Zone</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="/broadcast" class="sidebar-link">
                            <i class="bi bi-broadcast-pin"></i>
                            <span>Broadcast</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

    <div id="main">
        <header class='mb-3'>
            <nav class="navbar navbar-expand navbar-light ">
                <div class="container-fluid">
                    <a href="#" class="burger-btn d-block">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav ms-auto mb-2 mb-lg-0">

                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false"
                                    class="text-decoration-none">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">Rocky Bhai</h6>
                                            <p class="mb-0 text-sm text-gray-600">Admin</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="img/user2-160x160.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <h6 class="dropdown-header">Hello, Rocky!</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="/profile"><i
                                                class="icon-mid bi bi-person me-2"></i> My
                                            Profile</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-gear me-2"></i>
                                            Settings</a></li>
                                    <li><a class="dropdown-item" href="/wallet"><i
                                                class="icon-mid bi bi-wallet me-2"></i>
                                            Wallet Activity</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout"><i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i>
                                            Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div id="main-content">
            <div class="btn-group dropdown me-1 mb-1">
                <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only"><i class="bi bi-sliders"></i> Control User </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#colpay"><i class="bi bi-credit-card-fill"></i>
                        Collect Payment</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#adbal"><i
                            class="bi bi-sort-up"></i>
                        Adjust Balance</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addon"><i class="bi bi-clipboard-plus"></i>
                        Add On Bill</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addhard"><i class="bi bi-node-plus-fill"></i> Add Hardware Details</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addcharge"><i class="bi bi-journal-plus"></i> Additional Charge</a>
                </div>
            </div>
            <a class="btn btn-danger me-auto mb-1" href="/billzone"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
  <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"></path>
  <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"></path>
</svg> Back</a>
            <div class="row mt-2">
            <div class="col-12 col-md-6 order-md-1 order-first">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Profile Information</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="basicInput">Username</label>
                        <input type="text" class="form-control" id="basicInput" placeholder="Dhananjay Kumar Singh"
                          disabled>
                      </div>
                      <div class="form-group">
                        <label for="basicInput">Mobile No.</label>
                        <input type="text" class="form-control" placeholder="9876543210">
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="basicInput">Last Bill Date</label>
                        <input type="text" class="form-control" id="basicInput" placeholder="2021-10-20">
                      </div>
                      <div class="form-group">
                        <label for="basicInput">Billing Area</label>
                        <input type="text" class="form-control" id="basicInput" placeholder="Active">
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="basicInput">Balance Amount</label>
                        <input type="text" class="form-control" id="basicInput" placeholder="279">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-last">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Hardware Details</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive mt-3">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Router</th>
                                            <th>IP Address</th>
                                            <th>MAC Address</th>
                                            <th>Membership No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>121fdd5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                </div>
              </div>
            </div>
          </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Customer Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Full Name</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Dhananjay Kumar Singh" style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Date of Birth</label>
                                    <input type="tel" class="form-control" id="basicInput" placeholder="1982-01-01"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Mobile No.</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="7011456264"
                                        style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">Username</label>
                                    <input type="email" class="form-control" id="basicInput" placeholder="Username Here"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Password</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Password"
                                        style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">Status</label>
                                    <input type="email" class="form-control" id="basicInput"
                                        placeholder="Account Status" style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="basicInput">Description</label>
                                    <input type="email" class="form-control" id="basicInput"
                                        placeholder="Description Here" style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Permanent Address</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Address</label>
                                    <textarea name="address" id="addressbar" class="form-control"
                                        style="background-color: white;"
                                        placeholder="S/o Lallan Singh 34 Jamalpur Bailia Uttar Pardesh"
                                        disabled></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="basicInput">Pincode</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="277208"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">District</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Jamalpur Bailia" style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">State</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Uttar Pardesh"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Installation Address</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Address</label>
                                    <textarea name="address" id="addressbar" class="form-control"
                                        style="background-color: white;"
                                        placeholder="S/o Lallan Singh 34 Jamalpur Bailia Uttar Pardesh"
                                        disabled></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="basicInput">Pincode</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="277208"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">District</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Jamalpur Bailia" style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">State</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Uttar Pardesh"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Network Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Network</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Network"
                                        style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">Pool Type</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Pool Type"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Username</label>
                                    <input type="email" class="form-control" id="basicInput" placeholder="Username Here"
                                        style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">Password</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Password"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Static IP</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Static IP"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">NAS IP</label>
                                    <input type="email" class="form-control" id="basicInput" placeholder="NAS IP"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Company Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Company Name</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Company Name"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Organization Type</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Type of Organization" style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Organization ID</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Organization ID" style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">Document No.</label>
                                    <input type="email" class="form-control" id="basicInput" placeholder="Document No."
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Website</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="www.wetrick.com" style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">Email</label>
                                    <input type="email" class="form-control" id="basicInput" placeholder="Email ID"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="basicInput">Contact No.</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Contact No."
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Authorized Person Address</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Address</label>
                                    <textarea name="address" id="addressbar" class="form-control"
                                        style="background-color: white;"
                                        placeholder="S/o Lallan Singh 34 Jamalpur Bailia Uttar Pardesh"
                                        disabled></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="basicInput">Pincode</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="277208"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">District</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Jamalpur Bailia" style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">State</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Uttar Pardesh"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Company Billing Address</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Address</label>
                                    <textarea name="address" id="addressbar" class="form-control"
                                        style="background-color: white;"
                                        placeholder="S/o Lallan Singh 34 Jamalpur Bailia Uttar Pardesh"
                                        disabled></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="basicInput">Pincode</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="277208"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">District</label>
                                    <input type="text" class="form-control" id="basicInput"
                                        placeholder="Jamalpur Bailia" style="background-color: white;" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="basicInput">State</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Uttar Pardesh"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Billing Person Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Account Person Name</label>
                                    <input type="text" class="form-control" placeholder="XYZ"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="basicInput">Email ID</label>
                                    <input type="text" class="form-control" placeholder="abcd@email.com"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="basicInput">Contact No.</label>
                                    <input type="text" class="form-control" placeholder="9876543210"
                                        style="background-color: white;" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <strong>Copyright &copy; <a href="" class="text-decoration-none">weTRICK</a>.</strong> | All rights
                reserved.
            </div>
        </footer>
        </div>

    <div class="modal fade text-left" id="adbal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                       Adjust Balance
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>New Balance </label>
                        <input type="text" placeholder="New Balance" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="addcharge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Change Additional Charge &amp; Discount
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Discount/Additional Charge </label>
                        <input type="text" placeholder="Discount/Additional Charge" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Additional Charge</label>
                        <input type="radio" name="charge" value="addcharge" checked>
                        </div></div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Discount</label>
                        <input type="radio" name="charge"  value="dis">
                        </div>
                        </div>
                    </div>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="addhard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Add Hardware Details
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Router </label>
                        <input type="text" placeholder="Router" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>IP Address </label>
                        <input type="text" placeholder="Enter IP Address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>MAC Address </label>
                        <input type="text" placeholder="Enter MAC Address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Membership No. </label>
                        <input type="text" placeholder="Enter Membership No." class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        Add Hardware
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="addon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Add On Bill
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Item Name</label>
                        <input type="text" placeholder="Item Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Price </label>
                        <input type="text" placeholder="Enter Price" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>New Balance </label>
                        <input type="text" placeholder="Updated Balance" class="form-control" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        Add on Bill
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="colpay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Collect Payment
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                        <div class="card-header">
                            <div class="card-title text-center">
                                <h6>Balance Amount</h6>
                            </div></div>
                            <div class="card-body text-center">
                                <h4>0</h4>
                            </div>
                            <div class="card-footer text-center">
                                By- 30-11-21
                            </div>
                    </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                        <div class="card-header">
                            <div class="card-title text-center">
                                <h6>Last Bill Amount</h6>
                            </div></div>
                            <div class="card-body text-center">
                                <h4>500</h4>
                            </div>
                    </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                        <div class="card-header">
                            <div class="card-title text-center">
                                <h6>Last Payment Recieved</h6>
                            </div></div>
                            <div class="card-body text-center">
                                <h4>500</h4>
                            </div>
                            <div class="card-footer text-center">
                                By- 05-11-21
                            </div>
                    </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Paid Amount</label>
                        <input type="text" placeholder="Item Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Discount </label>
                        <input type="text" placeholder="Enter Price" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mode</label>
                        <select class="form-control">
                            <option>Select Payment Mode</option>
                            <option>Cash</option>
                            <option>Cheque</option>
                            <option>BHIM</option>
                            <option>PayTM</option>
                            <option>UPI</option>
                            <option>Coupon</option>
                            <option>Portal</option>
                            <option>Bank Transfer</option>
                            <option>PhonePe</option>
                            <option>GooglePay</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Record Time</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                        <label>Total Payment</label>
                        <input type="text" placeholder="Total Payment" class="form-control" disabled>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                        <label>New Balance</label>
                        <input type="text" placeholder="New Updated Balance" class="form-control" disabled>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                        Collect Payment
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="js/side.js"></script>
    {{!--
    <script src="perfect-scrollbar.min.js"></script> --}}


</body>

</html>
