<!DOCTYPE html>
<html>

<head>
{{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">
<section class="content">
         <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Change Plan</h3>
              </div>
                <div class="card-body">
                    <div class="table-responsive mt-3">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#changeplan"><i class="bi bi-journal-text"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
        <div class="modal fade text-left" id="changeplan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Change User Plan
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                             <label for="groupname">Current Plan</label>
                             <input type="text" class="form-control" id="groupname" name="groupname" placeholder="Current Plan" style="background-color: white;" disabled>
                            </div> </div>

                            <div class="col-md-6">
                            <div class="form-group">
                            <label for="type">Plan Price</label>
                              <input type="text" class="form-control" placeholder="30" style="background-color: white;" disabled>
                            </div>
                            </div></div>
                            <div class="row">
                            <div class="col-md-6">
                            <div class="form-group">
                             <label for="expd">Expiry Date</label>
                             <input type="text" class="form-control" placeholder="Expiry Date" style="background-color: white;" disabled >
                            </div>  
                            </div>
                             <div class="col-md-6">
                            <div class="form-group">
                             <label for="cplan">Change Plan</label>
                             <select name="cplan" id="" class="form-control" onchange=chPlanData(this.value) required>
                                <option value="10MB">10MB</option>
                                <option value="20MB">20MB</option>
                                <option value="50MB">50MB</option>
                                <option value="100MB">100MB</option>
                                <option value="200MB">200MB</option>
                                <option value="300MB">300MB</option>
                            </select>
                            </div></div>
                            </div>
                            <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="text" style="display: none;" id="chprice">Plan Price</label>
                            <input type="text" class="form-control" id="chprice1" name="chprice1" value="" readonly
                                style="display: none; background-color: white;">
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="text" style="display: none;" id="chvalidity">Validity(In Days)</label>
                            <input type="text" class="form-control" id="chvalidity1" name="chvalidity1" value="" readonly
                                style="display: none; background-color: white;">
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ml-1">
                        Change Plan
                    </button>
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
            
       

    </section>
</div>
{{> footer}}
</div>
{{> cdnjs}}
<script src="js/page/chplan.js"></script>
</body>

</html>