<!DOCTYPE html>
<html>

<head>
    {{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
{{> role}}
        <div id="main-content">
        <ul role="tablist" class="nav bg-light-primary nav-pills rounded-pill nav-fill mb-1">
          <li class="nav-item">
            <a  href="/allcustomer" class="nav-link  rounded-pill"><i class="bi bi-people-fill"></i>  Total Customer</a>
          </li>
          
          <li class="nav-item">
            <a  href="/online" class="nav-link rounded-pill font-bold" style="background-color: green; color:white;"><i class="bi bi-toggle-on"></i>  Online Customer</a>
          </li>
          <li class="nav-item">
            <a  href="/offline" class="nav-link rounded-pill"><i class="bi bi-toggle-off"></i>  Recently Offline</a>
          </li>

          <li class="nav-item">
            <a  href="/suspended" class="nav-link rounded-pill"><i class="bi bi-person-x-fill"></i>  Suspended Customer</a>
          </li>

           <li class="nav-item">
            <a  href="/renewal" class="nav-link rounded-pill" ><i class="bi bi-wallet2"></i>  Upcoming Renewal</a>
          </li>

           <li class="nav-item">
            <a  href="/expired" class="nav-link rounded-pill" ><i class="bi bi-exclamation-octagon-fill"></i>  Pending\Expired Renewal</a>
          </li>
          <li class="nav-item">
            <a  href="/active" class="nav-link rounded-pill" ><i class="bi bi-award-fill"></i>  Active Customer</a></li>
        </ul>
        <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">Online Customers</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No</th>
                                            <th>Current Plan</th>
                                            <th>Expiry Date</th>
                                            <th>Framed IP</th>
                                            <th>Up Time</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="/viewcustomer">Abhishek</a></td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>plan1</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>abshios</td>
                                            <td>ewfgsdfsd</td>
                                            <td>dsfddfs</td>
                                            <td style="color: lawngreen;">dsafd</td>
                                            <td>sdadsf</td>
                                            <td><a href="#" class="text-decoration-none datafetch" data-bs-toggle="modal" data-bs-target="#recharge"> <i class="bi bi-wallet2"></i> </a> &nbsp; <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="MAC Reset" onclick=popUp();><i class="bi bi-laptop"></i></a> &nbsp;<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Disconnect" onclick=popUpDis(); class="text-decoration-none"> <i class="bi bi-x-circle"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Username</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No</th>
                                            <th>Current Plan</th>
                                            <th>Expiry Date</th>
                                            <th>Framed IP</th>
                                            <th>Up Time</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
{{> footer}}
    </div>

    <div class="modal fade text-left" id="recharge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        Recharge
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                        <label>Full Name </label>
                        <input type="text" placeholder="Full Name" id="fname" class="form-control" disabled style="background-color: white;" >
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Username </label>
                        <input type="text" placeholder="Username" id="username" class="form-control" disabled style="background-color: white;">
                    </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                        <label>Mobile No. </label>
                        <input type="text" placeholder="Mobile No." id="phone" class="form-control" disabled style="background-color: white;">
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Current plan </label>
                        <input type="text" placeholder="Current Plan" id="cplan" class="form-control" disabled style="background-color: white;">
                    </div>
                    </div>
                        </div>
                    <div class="form-group col-md-12">
                        <label for="">Payment Mode</label>
                        <select name="mode" id="mode" class="form-control" onchange=inputDataRec(this.value)>
                            <option value="Cash" selected>Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="NEFT">NEFT</option>
                            <option value="Wallet Balance">Wallet Balance</option>
                            <option value="Online Payment">Online Payment</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12" id="docmodecheque" style="display: none;">
                        <label id="doc"></label>
                        <input type="text" class="form-control" id="chequeno" name="chequeno">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary ml-1">
                        Recharge
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{> cdnjs}}
    <script src="js/page/online.js"></script>

</body>

</html>