<!DOCTYPE html>
<html>

<head>
{{> headcdn}}
</head>

<body>
    {{> sidebar}}

    <div id="main">
        {{> role}}
        <div id="main-content">
<ul role="tablist" class="nav bg-light-primary nav-pills rounded-pill nav-fill mb-1">
          <li class="nav-item">
            <a  href="/allcustomer" class="nav-link  rounded-pill"><i class="bi bi-people-fill"></i>  Total Customer</a>
          </li>
          
          <li class="nav-item">
            <a  href="/online" class="nav-link rounded-pill"><i class="bi bi-toggle-on"></i>  Online Customer</a>
          </li>
          <li class="nav-item">
            <a  href="/offline" class="nav-link rounded-pill"><i class="bi bi-toggle-off"></i>  Recently Offline</a>
          </li>

          <li class="nav-item">
            <a  href="/suspended" class="nav-link rounded-pill"><i class="bi bi-person-x-fill"></i>  Suspended Customer</a>
          </li>

           <li class="nav-item">
            <a  href="/renewal" class="nav-link rounded-pill font-bold" style="background-color: maroon; color:white;"><i class="bi bi-wallet2"></i>  Upcoming Renewal</a>
          </li>

           <li class="nav-item">
            <a  href="/expired" class="nav-link rounded-pill " ><i class="bi bi-exclamation-octagon-fill"></i>  Pending\Expired Renewal</a>
          </li>
          <li class="nav-item">
            <a  href="/active" class="nav-link rounded-pill" ><i class="bi bi-award-fill"></i>  Active Customer</a></li>
        </ul>

            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title text-center">Upcoming Renewals</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table" id="myTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="check-all"></th>
                                            <th>Fullname</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Plan</th>
                                            <th>Expiry Date</th>
                                            <th>Mobile No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td><a href="/viewcustomer">Abhishek</a></td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="check"></td>
                                            <td>Abhishek</td>
                                            <td>123454</td>
                                            <td>1213545</td>
                                            <td>dsafdf</td>
                                            <td>fswfs</td>
                                            <td>dsfddfs</td>
                                        </tr>
                                    </tbody>
                                    <tfoot id="rbtn">
                                        <tr>
                                        <th colspan="3"><a href="" class="btn btn-block btn-success" >Recharge</a></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
        {{> footer}}
    </div>

    {{> cdnjs}}
    <script src="js/page/renewal.js"></script>
</body>
</html>